modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 80

[userenv]

[userenv.shared]
SUPPORT_SERVER_ID = "1441548471906734173"
